include ../mixins

- var columns = {'Dates':18, Unit:15, Open:10, Seats:10, Comments: 40}

.wrapped.noAdd

    +userInstructions('requests', true)

    +grouping()

        +tableBody(columns)(left, hover='{{::row.studentList}}', hoverClass="leftBarOverlayHover")


            td
                .double.approved(hover='Request approved'): +icon('check')
                .double.denied(hover='Request denied'): +icon('times')
                .double.cancelled(hover='Class cancelled'): +icon('exclamation-circle')

            td {{::row.Class.dateRange}}

            td {{::row.Class.HostUnit.Unit}}

            td.double {{::row.Class.openSeats}}

            td.double {{::row.count}}

            td.italics {{::row.Notes}}

            td
                #stackedVertical.pull-right

                    .overrideLabel(edit-students)

                    .btn.btn-sm.btn-success.btn-muted.no-archive(
                        hover='Approve seat request',
                        bs-popover,
                        left,
                        placement='left',
                        template='/partials/popover-approve-request.html'): +icon('check')

                    .btn.btn-sm.btn-danger.btn-muted.no-archive(
                        hover='Deny seat request',
                        bs-popover,
                        left,
                        placement='left',
                        template='/partials/popover-deny-request.html'): +icon('times')
