include ../mixins

.wrapped.noAdd

    +userInstructions('requests', true)

    +grouping()

        table.table.table-striped.table-expanded.table-hover

            thead
                th.w5
                th.w25 Date
                th.w15 Unit
                th.w10 Open
                th.w10 Requested
                th.w40 Students
                th.w10#action

            tbody
                tr.am-fade-and-slide-top(ng-repeat='row in group track by row.Id', placement='left', bs-popover='row.Details', custom-class="leftBarOverlayHover")

                    td

                    td
                        h4 {{::row.Class.Course.Number}}{{::row.Class.TTMS}}
                        h5 {{::row.Class.dateRange}}

                    td: h4 {{::row.Class.HostUnit.Unit}}

                    td.double {{::row.Class.openSeats}}

                    td.double {{::row.count}}

                    td(ng-bind-html='::row.StudentList')

                    td
                        #stackedVertical.pull-right

                            .overrideLabel(edit-students)

                            .btn.btn-sm.btn-success.btn-muted.no-archive(
                                bs-popover,
                                trigger='click',
                                placement='left',
                                templateUrl='/partials/popover-approve-request.html'): +icon('check')

                            .btn.btn-sm.btn-danger.btn-muted.no-archive(
                                bs-popover,
                                trigger='click',
                                placement='left',
                                templateUrl='/partials/popover-deny-request.html'): +icon('times')
