include ../__mixins

- var columns = {'Class #':10, 'Start Date':10, Unit:10, Allocated:10, Open:10, Requested:10}

+tableHeader(false, columns, 'requests')

    td
        span(hover='popover-priority'): +icon('asterisk')
        .double.approved(hover='Request approved'): +icon('check')
        .double.denied(hover='Request denied'): +icon('times')
        .double.cancelled(hover='Class cancelled'): +icon('exclamation-circle')

    td {{row.TTMS}}

    td {{row.start}}

    td {{row.request.Host.Unit}}

    td.double {{row.Course.Max - row.openSeats}}

    td.double {{row.openSeats}}

    td.double {{row.request.Students.length}}

    td
        .pull-right

            span.btn.btn-sm.btn-success.btn-muted.no-archive(
                hover='Approve seat request',
                bs-popover,
                placement='left',
                template='/partials/popover-approve-request.html'): +icon('check')

            span.btn.btn-sm.btn-warning.btn-muted.no-archive(
                hover='Deny seat request',
                no-arrow,
                bs-popover,
                placement='left',
                template='/partials/popover-deny-request.html'): +icon('times')
