include ../__mixins

- var columns = {'Class #':10, 'Start Date':10, Unit:10, Allocated:10, Open:10, Requested:10}

+tableHeader(false, columns, 'requests')

    td
        span(hover='This is a new seat request')
            +icon('flag')
        span(hover='This course is a priority course.')
            +icon('asterisk')

    td {{row.TTMS}}

    td {{row.start}}

    td {{row.request.Host.Unit}}

    td.double {{row.Course.Max - row.openSeats}}

    td.double {{row.openSeats}}

    td.double {{row.request.Students.length}}

    td
        .pull-right
            span.btn.btn-sm.btn-success.btn-muted.no-archive(
            explain='Approve seat request',
            bs-popover,
            data-placement='left',
            data-template='/partials/popover-approve-request.html'): +icon('approve')

            span.btn.btn-sm.btn-danger.btn-muted.no-archive(
                explain='Deny seat request',
                bs-popover,
                data-placement='left',
                data-template='/partials/popover-deny-request.html'): +icon('deny')
