include ../mixins

mixin wizardRow(text)
    +icon('check-square-o')
    +icon('times')
    +icon('wait', '', '0 0 36 32')
    span.text= text
    span.chevron

.col-lg-12
    .wizard
        ul.steps
            li(class='{{getProgress(0)}}'): +wizardRow('Choose Month')
            li(class='{{getProgress(1)}}'): +wizardRow('Identify Courses')
            li(class='{{getProgress(2)}}'): +wizardRow('Add Students')
            li(class='{{getProgress(3)}}'): +wizardRow('Verify Request')
            li(class='{{getProgress(4)}}'): +wizardRow('Send to FTD')

.clearfix

.col-lg-3

    br

    #datePicker
        input.hide(type='text',
                    ng-model='month',
                    data-date-format='MMMM yyyy',
                    data-min-view=1,
                    data-min-date='today',
                    bs-datepicker,
                    bs-show='loaded')

    h4(style='clear:both;padding-top:1em') Courses Needed

    // .pds(bs-popover='units_courses', placement='right', trigger='focus')
    .pds(ng-if='loaded')
        select.wide(selectize='MasterCourseList', bind='data.Course_Requirements', multiple, remember='898')


    .text-info.info.italics.pull-right
        +icon('info-circle')
        small You can paste PDS codes


#scrollTarget.wrapped.addNew.col-lg-9.no-pad(ng-any-drop)

    #dragIcon: +icon('insert')

    +userInstructions('generate_898', true)

    .clearfix

    br

    .well.well-sm.am-fade-and-scale(id='{{row.PDS}}',
                            ng-repeat='row in flatData track by row.Id',
                            ng-class='{priority:row.priority}',
                            ng-form='modal')

        .h4.pull-left

            .btnFake.white(class='btn-{{row.detRequest.style}}')
                span.bigLetter {{row.peopleCount}}
                span(style='font-size:1.15em') {{row.Number}} - {{row.PDS}}
                span#tdyOrLocal
                    +icon('plane')
                    +icon('exclamation-circle')

        .h4.pull-right.pad1

            .pull-right(style='position:relative;top:.2em')
                span.pull-right(bs-popover='"This is a priority course."')
                    +icon('asterisk')

            select.form-control(
                    ng-change='updateGrouping()',
                    ng-model='row.detRequest',
                    ng-options='ftd as ftd.distanceText for ftd in row.Units')

        .clearfix

        .slide

            .courseTitle {{row.Title}}

            .alert.alert-danger(ng-if='row.Units.length < 1')
                .lead *** No available FTD's found! ***
                p: b Please verify {{row.PDS}} is the correct course.

            .row
                .col-lg-12
                    h4.soft-bottom-border Student names ({{row.Min}} Min / {{row.Max}} Max)
                    select.wide(selectize='people', max='99', parent='row', placeholder='Search by Last name, First name')

                    .text-danger.am-fade-and-slide-bottom.text-right
                        em(ng-show='getOver(row)') FYI, you've exceeded this course's max capacity
                        em(ng-show='getUnder(row)') FYI, you're under the student minimum for this course

            br

            .row

                .col-lg-6

                    h4.soft-bottom-border Notes to the FTD
                    textarea.form-control(ng-model='row.Notes')

                .col-lg-6
                    table.table.table-split#stats898
                        tbody
                            tr(ng-repeat='label in monthLabels')
                                td.w40 {{label}}
                                td.w60
                                    input.w40(ng-model='row.History.r[$index]', placeholder='Requested')
                                    input.w40.pull-right(ng-model='row.History.b[$index]', placeholder='Built')
