include ../__mixins

mixin wizardRow(text)
    +icon('check-square-o')
    +icon('times')
    +icon('wait', '0 0 36 32')
    span.text= text
    span.chevron

.col-lg-12
    .wizard
        ul.steps
            li(class='{{getProgress(0)}}'): +wizardRow('Choose Month')
            li(class='{{getProgress(1)}}'): +wizardRow('Identify Courses')
            li(class='{{getProgress(2)}}'): +wizardRow('Add Students')
            li(class='{{getProgress(3)}}'): +wizardRow('Verify Request')
            li(class='{{getProgress(4)}}'): +wizardRow('Send to FTD')

.clearfix

.col-lg-2

    br

    #datePicker
        input.hide(type='text',
                    ng-model='month',
                    data-date-format='MMMM yyyy',
                    data-min-view=1,
                    data-min-date='today',
                    bs-datepicker,
                    bs-show='loaded')

    h4(style='clear:both;padding-top:1em') Courses Needed
    .pds(explain='units-courses', right)
        select(selectize='MasterCourseList',
        bind='data.Course_Requirements',
        multiple,
        ng-if='loaded')
    .text-info.info.italics.pull-right
        +icon('info-circle')
        small You can paste PDS codes


#scrollTarget.wrapped.addNew.col-lg-7(ng-any-drop, style='margin-top:50px;margin-left:16.5%')

    .no-pad

        #dragIcon:  +icon('insert')

        +userInstructions('generate-898', true)

        //.pull-left(hover="backlog-drag-drop", text-parser='Import IMDS AAA Background Product')
        //
            .pull-right(data-content-template='/partials/aaa-paste-text.html',
                        bs-modal='modal',
                        style='margin-right:3em!important',
                        ng-if='viewPaste')

                label.btn.btn-info.btn-labeled.white
                    span.btn-label
                        +icon('search')
                    | Inspect Evaluated AAA Data


        .clearfix

        br

        .well.well-sm.am-fade-and-scale(id='{{row.course.PDS}}',
                                ng-repeat='row in flatData track by row.Id',
                                ng-class='{priority:row.priority}')

            .h4.pull-left

                .btnFake.white(class='btn-{{requestType(row)}}')
                    span.bigLetter {{row.requirements.length}}
                    span(style='font-size:1.15em') {{row.course.Number}} - {{row.course.PDS}}
                    span#tdyOrLocal
                        +icon('plane')
                        +icon('exclamation-circle')

            .h4.pull-right.pad1

                .pull-right(style='position:relative;top:.2em')
                    span.pull-right(hover='This is a MAJCOM priority course.')
                        +icon('asterisk')

                select.form-control(
                        ng-change='updateGrouping()',
                        ng-model='row.detRequest',
                        ng-options='ftd as ftd.distanceText for ftd in row.listFTD')

            .clearfix

            .rollup.slide

                h4 {{row.course.Title}}

                .alert.alert-danger(ng-if='row.listFTD.length < 1')
                    .lead *** No available FTD's found! ***
                    p: b Please verify {{row.course.PDS}} is the correct course.

                .row
                    .col-lg-6.pull-right
                        h4.soft-bottom-border Student names ({{row.course.Min}} Min / {{row.course.Max}} Max)
                        select( selectize,
                                bind='row.requirements',
                                multiple,
                                create)

                        .text-danger.am-fade-and-slide-bottom.text-center
                            em(ng-show='getOver(row)') FYI, you've exceeded this course's max capacity
                            em(ng-show='getUnder(row)') FYI, you're under the student minimum for this course

                        br

                        h4.soft-bottom-border Notes to the FTD
                        textarea.form-control(ng-model='row.Notes')

        .clearfix

#backlogRequests.col-lg-3

    .wrapped

        .well.well-sm.am-fade-and-slide-top(ng-repeat='(unit, courses) in groups')
            h4.animateColorFast(class='btn-{{requestType(courses)}}', ng-click='edit(true, courses)') {{unit}}
                .pull-right.white
                    +icon('plus-circle')
                    +icon('arrow-circle-o-right')

            ul.list-group(style='margin:0')
                li.list-group-item(ng-repeat='crs in courses',
                                    ng-class='{limit:(getUnder(crs) || getOver(crs))}',
                                    ng-if='crs.requirements.length')
                    span.badge {{crs.requirements.length}}
                    h5: span.a(scroll-to='crs.course.PDS') {{crs.course.Number}}