include ../mixins

mixin wizardRow(text)
    +icon('check-square-o')
    +icon('times')
    +icon('wait', '', '0 0 36 32')
    span.text= text
    span.chevron

.col-lg-12
    .wizard
        ul.steps
            li(class='{{getProgress(0)}}'): +wizardRow('Choose a FTD')
            li(class='{{getProgress(1)}}'): +wizardRow('Choose a Month')
            li(class='{{getProgress(2)}}'): +wizardRow('Identify Courses')
            li(class='{{getProgress(3)}}'): +wizardRow('Add Students')
            li(class='{{getProgress(4)}}'): +wizardRow('Verify Request')
            li(class='{{getProgress(5)}}'): +wizardRow('Send to FTD')

.clearfix

.wrapped.no-add.no-pad(ng-any-drop)


    #leftColumn

        br

        #ftdPicker: select(ng-if='unitList.length', selectize='unitList', bind='data.targetFTD', remember='898-ftd', sort='distanceInt', placeholder='Choose a FTD')

        #datePicker
            input.hide(type='text',
                        ng-model='data.month',
                        data-date-format='MMMM yyyy',
                        data-min-view=1,
                        data-min-date='today',
                        bs-datepicker,
                        bs-show='loaded')

        .clearfix

        br

        #coursePicker.pds(ng-if='data.targetFTD')
            select(selectize='coursesDropdown', bind='data.Course_Requirements', multiple, remember='898', placeholder='Identify Courses')

            .text-info.info.italics.pull-right
                +icon('info-circle')
                small These courses will be remembered next month

    #rightColumn

        #dragIcon: +icon('insert')

        +userInstructions('generate_898', true)

        .clearfix

        br

        +grouping()

            .panel-default.am-fade-and-slide-right(id='{{row.PDS}}',
                                    ng-repeat='row in group track by row.Id',
                                    ng-form='modal',
                                    ng-class='{empty:!row.required,under:getUnder(row)}')



                .panel-heading
                    .pull-left.count {{row.required}}
                    .pull-left {{row.PDS}} - {{row.Number}}
                    .pull-left.min-max ({{row.Min}} Min / {{row.Max}} Max)
                    .pull-right {{row.imds_g081}}
                    .clearfix

                .panel-body

                    .courseTitle {{row.Title}}
                        .pull-right {{row.Days}} Days

                    //#priority.btn.btn-info(ng-model='row.Priority', bs-checkbox)
                        .true PRIORITY COURSE
                        .false Regular Course

                    .row

                        .col-lg-6
                            table.table.table-split#reqs898
                                thead
                                    tr
                                        th.hide
                                        th.w5 Priority
                                        th.w20 Total Backlog
                                        th.w20 Priority Backlog
                                        th.w20 Seats Needed
                                tbody
                                    tr
                                        td.hide
                                        td
                                            .checkbox(ng-model='row.Priority', bs-checkbox)
                                                .yes.css-label
                                                .no.css-label
                                        td: input.form-control(ng-model='row.backlog', type='number', min='0', max='999', required)
                                        td: input.form-control(ng-model='row.backlogPriority', type='number', min='0', max='999', required)
                                        td: input.form-control(ng-model='row.required', type='number', min='0', max='99', required)

                            .text-danger.text-center
                                em#under FYI, you're under the student minimum for this course

                        .col-lg-6
                            table.table.table-split#stats898
                                thead
                                    tr
                                        th
                                        th(ng-repeat='label in monthLabels') {{label}}

                                tbody

                                    tr
                                        td Requested
                                        td(ng-repeat='i in [0,1,2]')
                                            input.form-control(ng-model='row.History[i][0]', type='number', min='0', max='99', required)

                                    tr
                                        td Given
                                        td(ng-repeat='i in [0,1,2]')
                                            input.form-control(ng-model='row.History[i][1]', type='number', min='0', max='99', required)



                    textarea.form-control(ng-model='row.Notes', placeholder='Type any notes for this course here')

