include ../mixins

mixin wizardRow(text)
    +icon('check-square-o')
    +icon('times')
    +icon('wait', '', '0 0 36 32')
    span.text= text
    span.chevron

.col-lg-12
    .wizard
        ul.steps
            li(class='{{getProgress(0)}}'): +wizardRow('Choose a FTD')
            li(class='{{getProgress(1)}}'): +wizardRow('Choose a Month')
            li(class='{{getProgress(2)}}'): +wizardRow('Identify Courses')
            li(class='{{getProgress(3)}}'): +wizardRow('Add Students')
            li(class='{{getProgress(4)}}'): +wizardRow('Verify Request')
            li(class='{{getProgress(5)}}'): +wizardRow('Send to FTD')

.clearfix

.wrapped.no-add.no-pad(ng-any-drop)


    .col-lg-3

        br

        #ftdPicker: select(ng-if='unitList.length', selectize='unitList', bind='data.targetFTD', remember='898-ftd', sort='distanceInt', placeholder='Choose a FTD')

        #datePicker
            input.hide(type='text',
                        ng-model='data.month',
                        data-date-format='MMMM yyyy',
                        data-min-view=1,
                        data-min-date='today',
                        bs-datepicker,
                        bs-show='loaded')

        .clearfix

        br

        #coursePicker.pds(ng-if='data.targetFTD')
            select.wide(selectize='coursesDropdown', bind='data.Course_Requirements', multiple, remember='898', placeholder='Identify Courses')

            .text-info.info.italics.pull-right
                +icon('info-circle')
                small These courses will be remembered next month

    .col-lg-9

        #dragIcon: +icon('insert')

        +userInstructions('generate_898', true)

        .clearfix

        br

        +grouping()

            .panel-default.am-fade-and-slide-right(id='{{row.PDS}}',
                                    ng-repeat='row in group track by row.Id',
                                    ng-form='modal',
                                    ng-class='{empty:!row.peopleCount,under:getUnder(row),over:getOver(row)}')

                .panel-heading
                    .pull-left.count {{row.peopleCount}}
                    .pull-left | {{row.PDS}} - {{row.Number}}
                    .pull-left.min-max ({{row.Min}} Min / {{row.Max}} Max)
                    .pull-right {{row.imds_g081}}
                    .clearfix

                .panel-body

                    .courseTitle {{row.Title}}
                        .pull-right {{row.Days}} Days

                    .btn.btn-primary(ng-model='row.Priority',
                                        bs-checkbox,
                                        data-true-value='Priority Course',
                                        data-false-value='Regular Course') Priority

                    .row
                        .col-lg-7
                            select.wide(selectize='people', max='99', parent='row', placeholder='Add student names, search by last name, first name')

                            .text-danger.am-fade-and-slide-bottom.pull-right
                                em#over FYI, you've exceeded this course's max capacity
                                em#under FYI, you're under the student minimum for this course

                        .col-lg-5

                            table.table.table-split#stats898
                                tbody
                                    tr
                                        td.w30 Backlog
                                        td.w70
                                            input.col-lg-5(ng-model='row.History.r[$index]', placeholder='Normal')
                                            .col-lg-1
                                            input.col-lg-5(ng-model='row.History.b[$index]', placeholder='Priority')

                                    tr(ng-repeat='label in monthLabels')
                                        td.w30 {{label}}
                                        td.w70
                                            input.col-lg-5(ng-model='row.History.r[$index]', placeholder='Requested')
                                            .col-lg-1
                                            input.col-lg-5(ng-model='row.History.b[$index]', placeholder='Given')

                        .clearfix

                        br

                    textarea.form-control(ng-model='row.Notes', placeholder='Type any notes for this course here')
