include ../mixins

mixin wizardRow(text)
    +icon('check-square-o')
    +icon('times')
    +icon('wait', '', '0 0 36 32')
    span.text= text
    span.chevron

.col-lg-12
    .wizard
        ul.steps
            li(ng-class='progress.ftd'): +wizardRow('Choose a FTD')
            li(ng-class='progress.month'): +wizardRow('Choose a Month')
            li(ng-class='progress.courses'): +wizardRow('Identify Courses')
            li(ng-class='progress.seats'): +wizardRow('Identify Requirements')
            li(ng-class='progress.submit'): +wizardRow('Submit for Verification/Approval')

.clearfix

.wrapped.no-add.no-pad(ng-any-drop)


    #leftColumn

        br

        #ftdPicker: select(ng-if='unitList.length', selectize='unitList', bind='data.targetFTD', remember='898-ftd', sort='distanceInt', placeholder='Choose a FTD')

        #datePicker
            input.hide(type='text',
                        ng-model='data.month',
                        data-date-format='MMMM yyyy',
                        data-min-view=1,
                        data-min-date='today',
                        bs-datepicker,
                        bs-show='loaded')

        .clearfix

        br

        #coursePicker.pds(ng-if='data.targetFTD')
            select(selectize='coursesDropdown', bind='data.Course_Requirements', multiple, remember='898', placeholder='Identify Courses')

            .text-info.info.italics.pull-right
                +icon('info-circle')
                small These courses will be remembered next month

    #rightColumn

        #dragIcon: +icon('insert')

        +userInstructions('generate_898', true)

        .clearfix

        br

        +grouping()

            .panel-default.am-fade-and-slide-right(id='{{row.PDS}}',
                                    ng-repeat='row in group track by row.Id',
                                    ng-form='modal',
                                    ng-class='{empty:!row.required,under:row.required<row.Min,over:row.required>row.Max}')

                .panel-heading
                    .pull-left.count {{row.required}}
                    .pull-left {{row.PDS}} - {{row.Number}}
                    .pull-left.min-max ({{row.Min}} Min / {{row.Max}} Max)
                    .pull-right {{row.imds_g081}}
                    .clearfix

                .panel-body

                    .courseTitle {{row.Title}}
                        .pull-right {{row.Days}} Days

                    #reqs898
                        table.table.table-split
                            thead
                                tr
                                    th.hide
                                    th Priority<br>Course
                                    th Total<br>Backlog
                                    th Priority<br>Backlog
                                    th Seats<br>Needed
                            tbody
                                tr
                                    td.hide
                                    td
                                        .checkbox(ng-model='row.Priority', bs-checkbox)
                                            .yes.css-label
                                            .no.css-label
                                    td: input.form-control(ng-model='row.backlog', type='number', min='0', max='999', required)
                                    td: input.form-control(ng-model='row.backlogPriority', type='number', min='0', max='999', required)
                                    td: input.form-control(ng-model='row.required', type='number', min='0', max='99', required, ng-change='countSeats()')

                        .text-danger.text-center
                            em#under This class may not be built do a seat minimum of {{row.Min}}
                            em#over This may require more than one class due to a seat maximum of {{row.Max}}


                    #stats898
                        table.table.table-split
                            thead
                                tr
                                    th
                                    th(ng-repeat='label in monthLabels', ng-bind-html='label|trust_html')

                            tbody

                                tr
                                    td Seats<br>Requested
                                    td(ng-repeat='i in [0,1,2]')
                                        input.form-control(ng-model='row.History[i][0]', type='number', min='0', max='99', required)

                                tr
                                    td Seats<br>Given
                                    td(ng-repeat='i in [0,1,2]')
                                        input.form-control(ng-model='row.History[i][1]', type='number', min='0', max='99', required)



                    textarea.form-control(ng-model='row.Notes', placeholder='Type any notes for this course here')

