include ../../mixins

.wrapped.noAdd(ng-class='{autoApprove:autoApprove}')

    +userInstructions('scheduled', true)

    .group(ng-repeat='(header, group) in groups')

        .lead(style='border-bottom: 1px solid; margin-top:20px; margin-bottom:15px')

            span {{::group[0].Course.PDS}} -&nbsp;

            a(href='https://www.my.af.mil/etcacourses/showcourse.asp?as_course_id={{::group[0].Course.Number}}',
                target='_blank') {{::group[0].Course.Number}}

            span.pull-right {{group.length}}

        .lead.italics(style='letter-spacing: .1em;font-size: 1.2em;') {{::group[0].Course.Title}}

        // --------------------------------------------------------

        resource-view(ng-if='ftss.showAlternateView', bind='group.instructors', template='/partials/resource-view-event-search.html')

        // --------------------------------------------------------

        .clearfix

        .row(ng-if='!ftss.showAlternateView', ng-repeat='row in group track by row.Id')

            .btn.btn-success.openSeats(ng-click='row.request()') {{::row.openSeats}}

            .well.well-sm

                .pull-left.circle: +bioPhoto('::row.bioPhoto', 'width:125px;height:125px')

                .pull-right(style='width:calc(100% - 100px)')

                    .double

                        .notes.btn-muted(ng-if='row.ClassNotes', hover='{{::row.ClassNotes}}'): +icon('info-circle')

                        | {{::row.dateRange}}&nbsp;

                        span.lightText at&nbsp;

                        a(href='https://www.google.com/maps/@{{::row.locationCoords}},15z',
                            target='_blank',
                            hover="<h4>{{::row.FTD.Phone}}</h4><img src='{{::row.map}}'/>",
                            hoverClass='map',
                            left) {{::row.locationName}}

                        .pull-right.lightText {{::row.Instructor.InstructorName}}

                    .requestActions

                        hr

                        .pull-left.lightCourseNumber(ng-if='!autoApprove')  # {{::row.TTMS}} -&nbsp;
                        .pull-left: p.form-control.wideText(ng-if='autoApprove',
                                                                    contenteditable,
                                                                    ng-model='row.TTMS',
                                                                    onEnter='row.updateTTMS()',
                                                                    placeholder='Class #')

                        .pull-left.lightCourseNumber &nbsp;{{::row.Course.PDS}} - {{::row.Course.Number}}

                        .pull-right.invert(ng-if='row.allocatedSeats')

                            .btn.btn-info.btn-labeled.btn-muted(ng-click='row.showStudents()')
                                span.btn-label: +icon('student_hand')
                                | View Students ({{::row.allocatedSeats}})

                        .pull-right.invert(ng-if='canRequest')

                            .btn.btn-success.btn-labeled.btn-muted(ng-click='row.request()')
                                span.btn-label: +icon('plus-circle')
                                | Request Seats

                        .pull-right.invert

                            a.btn.btn-primary.btn-labeled.btn-muted(href='mailto:{{::row.mailFTD}}')
                                span.btn-label: +icon('envelope')
                                | Email FTD

                .clearfix