include ../../mixins

.wrapped.noAdd(ng-class='{autoApprove:autoApprove}')
    +icon('collapse')
    +userInstructions('scheduled', true)

    .group(ng-repeat='(header, group) in groups')

        .lead(style='border-bottom: 1px solid; margin-top:20px; margin-bottom:15px')

            span {{::header}}

            span.pull-right {{group.length}}

        .lead(style='letter-spacing: .1em;font-size: 1.2em;')
            .pull-left.italics {{::group[0].Course.Title}}
            .pull-right {{::imds_g081[group[0].CourseId]}}

        br
        br

        // --------------------------------------------------------

        resource-view(ng-if='ftss.showAlternateView', bind='group.instructors', template='/partials/resource-view-event-search.html')

        // --------------------------------------------------------

        .clearfix

        .row(ng-if='!ftss.showAlternateView', ng-repeat='row in group track by row.Id')

            .btn.btn-success.openSeats(ng-click='requestSeats()') {{::row.openSeats}}

            .well.well-sm

                .pull-left.circle: +bioPhoto('::row.bioPhoto', 'width:125px;height:125px')

                .pull-right(style='width:calc(100% - 100px)')

                    .double

                        .pull-left {{::row.dateRange}}

                        .notes.hideDefault(ng-if='row.ClassNotes', hover='{{::row.ClassNotes}}'): +icon('info-circle')

                        a.pull-right(href='https://www.google.com/maps/@{{::row.locationCoords}},15z',
                            target='_blank',
                            hover="<h4>{{::row.FTD.Phone}}</h4><img src='{{::row.map}}'/>",
                            hoverClass='map',
                            left) {{::row.locationName}}

                        .pull-right.hideDefault.lightText {{::row.Instructor.InstructorName}}&nbsp|&nbsp;

                        .clearfix

                    .requestActions

                        hr

                        .pull-left.lightCourseNumber.hideDefault.btn.btn-link(bs-modal='modal',
                                template='/partials/etca.html') &nbsp;{{::row.Course.PDS}} - {{::row.Course.Number}}

                        .pull-left.lightCourseNumber.hideDefault(ng-if='!autoApprove') &nbsp;&nbsp# {{::row.TTMS}}

                        .pull-left
                            p.form-control.wideText.hideDefault(ng-if='autoApprove',
                                                                    contenteditable,
                                                                    ng-model='row.TTMS',
                                                                    onEnter='row.updateTTMS()',
                                                                    placeholder='Class #')

                        edit-students.pull-right.invert

                        request-seats.pull-right.invert

                        .pull-right.invert

                            a.btn.btn-primary.btn-labeled.btn-muted(href='mailto:{{::row.mailFTD}}')
                                span.btn-label: +icon('envelope')
                                | Email FTD

                .clearfix