include ../../mixins

.wrapped.noAdd(ng-class='{autoApprove:autoApprove}')

    +userInstructions('scheduled', true)

    .group(ng-repeat='(header, group) in groups')

        .lead(style='border-bottom: 1px solid; margin-top:20px; margin-bottom:15px')

            span {{::group[0].Course.PDS}} -&nbsp;

            a(href='https://www.my.af.mil/etcacourses/showcourse.asp?as_course_id={{::group[0].Course.Number}}',
                target='_blank') {{::group[0].Course.Number}}

            span.pull-right {{group.length}}

        .lead.italics(style='letter-spacing: .1em;font-size: 1.2em;') {{::group[0].Course.Title}}

        // --------------------------------------------------------

        resource-view(ng-if='wellCollapse', bind='group.instructors', template='/partials/resource-view-event-search.html')

        // --------------------------------------------------------

        .clearfix

        .row(ng-if='!wellCollapse', ng-repeat='row in group track by row.Id',
        ng-class='{priority:row.Priority, archived:row.Archived, updated:row.updated}')

            .btn.btn-success.openSeats(ng-click='row.request()') {{::row.openSeats}}

            .well.well-sm

                .pull-left(style='width:185px')
                        photo.img-rounded(ng-if='row.Instructor.Photo', size='150px', shape='rectangle', data='row.Instructor')
                        | &nbsp;

                .pull-left(style='width:calc(95% - 160px)')

                    .double
                        | {{::row.dateRange}}&nbsp;

                        span.lightText at&nbsp;

                        a(href='https://www.google.com/maps/@{{::row.locationCoords | nospace}},15z',
                            target='_blank',
                            hover="<h4>{{::row.FTD.Phone}}</h4><img style='width:400px;height:300px' src='{{::row.map}}'/>") {{::row.locationName}}

                        .pull-right.lightText {{::row.Instructor.InstructorName}}

                    p.notes {{::row.ClassNotes}}

                    .requestActions

                        hr

                        .pull-left.lightCourseNumber(ng-if='!autoApprove')  # {{::row.TTMS}} -&nbsp;
                        .pull-left: p.form-control.wideText(ng-if='autoApprove',
                                                                    contenteditable,
                                                                    ng-model='row.TTMS',
                                                                    onEnter='row.updateTTMS()',
                                                                    placeholder='Class #')

                        .pull-left.lightCourseNumber &nbsp;{{::row.Course.PDS}} - {{::row.Course.Number}}

                        .pull-right.invert(ng-if='row.allocatedSeats')

                                .btn.btn-info.btn-labeled.btn-muted(ng-click='row.showStudents()')
                                    span.btn-label: +icon('student_hand')
                                    | Students ({{::row.allocatedSeats}})

                        .pull-right.invert

                                .btn.btn-success.btn-labeled.btn-muted(ng-click='row.request()')
                                    span.btn-label: +icon('plus-circle')
                                    | Request Seats

                        .pull-right.invert

                            a.btn.btn-primary.btn-labeled.btn-muted(href='mailto:{{::row.mailFTD}}')
                                span.btn-label: +icon('envelope')
                                | Contact FTD

                .clearfix