include ../../mixins

.wrapped.noAdd(ng-class='{autoApprove:autoApprove,hasArchived:ftss.itemCount.archived}')
    +userInstructions('scheduled', true)

    .alert.alert-info.text-info.lead(ng-if='isEmpty()', user-message='scheduled_no_classes_found')

    .group(ng-if='!isEmpty()', ng-repeat='(header, group) in groups')

        .lead(style='border-bottom: 1px solid; margin-top:20px; margin-bottom:15px')

            span {{::header}}

            span.pull-right {{group.length}}

        .lead(style='letter-spacing: .1em;font-size: 1.2em;')
            .pull-left.italics {{::group[0].Course.Title}}
            .pull-right {{::group[0].Course.imds_g081}}

        br
        br

        // --------------------------------------------------------

        //        resource-view(ng-if='ftss.showAlternateView', bind='group.instructors', template='/partials/resource-view-event-search.html')

        // --------------------------------------------------------

        .clearfix

        .row(ng-repeat='row in group track by row.Id',
                placement='left',
                bs-popover='row.OverlayHover'
                custom-class="leftBarOverlayHover")

            .btn.btn-success.openSeats(ng-if='!row.Full', ng-click='requestSeats()')
                .pull-left {{::row.OpenSeatsInt}}
                .pull-right Open<br>Seats

            .btn.btn-warning.openSeats.btn-fake(ng-if='row.Full') Full

            .well.well-sm

                .pull-left: .circle(bio-photo='row.Instructor.Photo', style='width:125px;height:125px')

                .pull-right(style='width:calc(100% - 100px)')

                    .double

                        .pull-left {{::row.dateRange}}

                        a.pull-right(href='https://www.google.com/maps/@{{::row.locationCoords}},15z',
                            target='_blank',
                            bs-popover='"<h4>{{::row.FTD.Phone}}</h4><img src={{::row.map}} />"',
                            custom-class='map',
                            placement='left') {{::row.locationName}}

                        .pull-right.hideDefault.lightText {{::row.Instructor.Name}}&nbsp|&nbsp;

                        .clearfix

                    .requestActions

                        hr

                        .pull-left.lightCourseNumber.hideDefault.btn.btn-link(bs-modal='modal',
                                template-url='/partials/iframe-etca.html') &nbsp;{{::row.Course.PDS}} - {{::row.Course.Number}}

                        .pull-left.lightCourseNumber.hideDefault(ng-if='!autoApprove') &nbsp;&nbsp# {{::row.TTMS}}

                        .pull-left
                            p.form-control.wideText.hideDefault(ng-if='autoApprove',
                                                                    contenteditable,
                                                                    ng-model='row.TTMS',
                                                                    onEnter='row.updateTTMS()',
                                                                    placeholder='Class #')

                        .pull-right.invert(edit-students)

                        .pull-right.invert(request-seats)

                        .pull-right.invert

                            a.btn.btn-primary.btn-labeled.btn-muted(href='mailto:{{::row.mailFTD}}')
                                span.btn-label: +icon('envelope')
                                | Email FTD

                .clearfix