mixin classHeader(location)

    .well(ng-repeat='row in group track by row.Id',
        ng-class='{priority:row.Priority, archived:row.Archived, updated:row.updated}')

        h4

            span.archiveOnly ***CANCELLED CLASS***

            span.archiveExclude(class='btn btn-{{row.openSeatsClass}} availSeats(disabled="")',
                                ng-click='request(row)') {{row.openSeats}} Open

            span(style='letter-spacing: .1em')

                span &nbsp;{{row.Course.PDS}} - {{row.Course.Number}}

                span.italics {{row.TTMSText}}

                if location
                    span.rollupOnly &nbsp;@ {{row.FTD.LongName}}

                span.pull-right
                    | {{row.startText}} - {{row.endText}}
                    +icon('calendar_range')

        hr.rollup

        .rollup

            block

mixin seatStats()
    table.table.table-split

        thead: tr: th.text-right(colspan='2') TRAINING SEATS

        tbody
            tr(hover='scheduled-seats-host', left, ng-if='row.Host')
                td Host
                td.text-center {{row.Host}}

            tr(hover='scheduled-seats-non-host', left, ng-if='row.Other')
                td Non-host
                td.text-center {{row.Other}}

            tr(ng-if='row.approvedSeats', left, hover='scheduled-seats-approved')
                td Approved
                td.text-center {{row.approvedSeats}}

            tr.italics(ng-if='row.pendingSeats', hover='scheduled-seats-pending', left)
                td Pending
                td.text-center {{row.pendingSeats}}

            tr(style='border-top:2px solid;')
                td Minimum
                td.text-center {{row.Course.Min}}

            tr
                td Maximum
                td.text-center {{row.Course.Max}}

            tr(style='border-top:2px solid;')
                td Available
                td.text-center {{row.openSeats}}



mixin classData(location)

    table.table.table-split

        thead: tr: th.truncate(colspan='3') {{row.Course.Title}}

        tbody

            tr(ng-if='row.Instructor.Photo')
                td(rowspan='8', colspan='1', style='border-right: none;width:200px;padding-top: 20px')
                    photo.img-rounded(size='175px', shape='rectangle', data='row.Instructor')

            if location
                tr
                    td Location
                    td
                        a(href='https://www.google.com/maps/@{{row.FTD.Location | nospace}},15z',
                            target='_blank',
                            hover="<img style='width:400px;height:300px' src='{{row.map}}'/>")

                            | {{row.FTD.LongName}}

                        a.no-border.pull-right(href='mailto:{{row.mailFTD}}',
                        hover='Contact the FTD about this class.')
                            +icon('envelope')


            tr(ng-if='row.Instructor.InstructorName')
                td Instructor
                td {{row.Instructor.InstructorName}}
                    a.no-border.pull-right(href='mailto:{{row.mailInstructor}}',
                                            ng-if='row.mailInstructor',
                                            hover='Contact the instructor about this course.')
                        +icon('envelope')
            tr
                td MDS
                td {{row.Course.MDS}}
            tr
                td AFSC
                td {{row.Course.AFSC}}
            tr
                td Days
                td {{row.Course.Days}}
            tr
                td Hours
                td {{row.Course.Hours}}

    br

    .italics {{row.ClassNotes}}


mixin classActions(edit)

    .requestActions.archiveExclude

        hr

        .pull-right.invert

            if edit

                .btn.btn-success.btn-labeled.btn-muted(ng-click='request(row, true)', ng-if='row.openSeats')
                    span.btn-label: +icon('plus-circle')
                    | Add Students

                .btn.btn-warning.btn-labeled.btn-muted(ng-click='edit(false)')
                    span.btn-label: +icon('edit')
                    | Edit Class

                .btn.btn-danger.btn-labeled.btn-muted(bs-popover,
                                                        placement='left',
                                                        template='/partials/popover-cancel-class.html')

                    span.btn-label: +icon('trash_hide')
                    | Cancel Class

            else

                .btn.btn-success.btn-labeled.btn-muted(ng-click='request(row)', ng-if='row.openSeats && canRequest')
                    span.btn-label: +icon('plus-circle')
                    | Request Seats

        .clearfix