include ../__mixins

form.form-horizontal(name='modal')

    +modalHeader('Build Class', "{{data.Course.Number}}")

    .modal-body

        +formGroup('FTD', 'helper text')
            .input-group
                .input-group-addon.w15
                    +icon('building-o')
                .input-group-selectize
                    select(selectize='Units', bind='UnitId')
        br

        +formGroup('Course', 'helper text')
            .input-group
                .input-group-addon.w15
                    +icon('books')
                .input-group-selectize
                    select(selectize='MasterCourseList',
                            bind='CourseId',
                            watch='UnitId',
                            watchList='Units.Courses')
        br

        +formGroup('Instructor', 'helper text')
            .input-group
                .input-group-addon.w15
                    +icon('instructor')
                .input-group-selectize
                    select(selectize='Instructors',
                            bind='InstructorId',
                            watch='UnitId',
                            watchList='Units.Instructors')
        br

        +formGroup('Dates', 'helper text')
            .input-group
                .input-group-addon.w15
                    +icon('calendar_range')

                input.form-control.w45(ype='text', ng-model='data.Start', data-max-date='{{End}}', placeholder='Start Date', bs-datepicker='', required='required')

                input.form-control.w45.pull-right(type='text', ng-model='data.End', data-min-date='{{Start}}', placeholder='End Date', bs-datepicker='')

        hr

        +formGroup('Reserved', 'replace me')
            .input-group.pull-left(style='width:30%!important')
                input.form-control(ng-model='data.Host', type='number', min='0', required)
                .input-group-addon Host

            .input-group.pull-left(style='width:30%!important;margin-left:5%')
                input.form-control(ng-model='data.Other', type='number', min='0', required)
                .input-group-addon Non-Host

            #modalScheduledOpenSeats.input-group {{getOpenSeats()}}

        .clearfix


    +modalFooter()