include ../__mixins

form.form-horizontal(name='modal')

    .modal-header
        h3
            +icon('calendar_range')
            | Scheduled Class Update

    .modal-body

        .row

            +formGroup('FTD', 'helper text')
                .input-group
                    .input-group-addon.w15
                        +icon('building-o')
                    .input-group-selectize
                        select(selectize='Units', bind='UnitId')


            br

            +formGroup('Course', 'helper text')
                .input-group
                    .input-group-addon.w15
                        +icon('books')
                    .input-group-selectize
                        select(selectize='MasterCourseList',
                                bind='CourseId',
                                watch='UnitId',
                                watchList='Units.Courses')

            br


            +formGroup('Instructor', 'helper text')
                .input-group
                    .input-group-addon.w15
                        +icon('instructor')
                    .input-group-selectize
                        select(selectize='Instructors',
                                bind='InstructorId',
                                watch='UnitId',
                                watchList='Units.Instructors')
                br

        .row

            .input-group
                .input-group-addon Host
                input.form-control(ng-model='data.Host')

            br

            .input-group
                .input-group-addon Other
                input.form-control(ng-model='data.Other')

            br


    +modalFooter()