include ../__mixins

+addButton('Create Class')

.wrapped

    +userInstructions('scheduled', true)

    +grouping()

        .well(ng-repeat='row in group',
                ng-class='{priority:row.priority, archived:row.Archived, updated:row.updated}')

            h4

                span.archiveOnly ***CANCELLED CLASS***

                span.archiveExclude(class='btn btn-{{row.openSeatsClass}} availSeats(disabled="")',
                                    ng-click='request(row)') {{row.openSeats}} Open

                span(style='letter-spacing: .1em')

                   span &nbsp;{{row.Course.PDS}} - {{row.Course.Number}}

                    span.pull-right
                        | {{row.start}} - {{row.end}}
                        +icon('calendar_range')
            hr.rollup

            .rollup

                .col-lg-8.pull-left

                    table.table.table-split

                        thead: tr: th.truncate(colspan='3') {{row.Course.Title}}

                        tbody

                            tr(ng-show='row.Instructor.Photo')
                                td(rowspan='7', colspan='1', style='border-right: none;width:175px;padding-top: 20px')
                                    photo.img-rounded(size='150px', shape='rectangle', data='row.Instructor')
                            tr
                                td Location
                                td {{row.det.Base}} (Detachment {{row.det.Det}})
                            tr
                                td Instructor
                                td {{row.instructor}}
                            tr
                                td MDS
                                td {{row.Course.MDS}}
                            tr
                                td AFSC
                                td {{row.Course.AFSC}}
                            tr
                                td Days
                                td {{row.Course.Days}}
                            tr
                                td Hours
                                td {{row.Course.Hours}}

                .col-lg-2.pull-right.text-right

                    table.table.table-split

                        thead: tr: th.text-right(colspan='2') TRAINING SEATS

                        tbody
                            tr(explain='These are seats reserved by the FTD for the host.')
                                td Host
                                td.text-center {{row.Host}}

                            tr(explain='These are seats reserved by the FTD for other units besides the host.')
                                td Non-host
                                td.text-center {{row.Other}}

                            tr(explain='These are seat requests that have been approved and funded (if applicable).')
                                td Approved
                                td.text-center {{row.approvedSeats}}

                            tr.italics(explain='These are seats that are still pending FTD approval or funded.')
                                td Pending
                                td.text-center {{row.pendingSeats}}

                            tr(style='border-top:2px solid;')
                                td Minimum
                                td.text-center {{row.Course.Min}}

                            tr
                                td Maximum
                                td.text-center {{row.Course.Max}}

                            tr(style='border-top:2px solid;')
                                td Available
                                td.text-center {{row.openSeats}}

                .clearfix

                .requestActions.archiveExclude

                    hr

                    .pull-right.invert

                        .btn.btn-success.btn-labeled.btn-muted(ng-click='request(row)', ng-show='row.openSeats')
                            span.btn-label: +icon('plus-circle')
                            | Request Seats

                        .btn.btn-warning.btn-labeled.btn-muted(ng-click='edit(false)', ng-show='canEdit')
                            span.btn-label: +icon('edit')
                            | Edit Class

                        .btn.btn-danger.btn-labeled.btn-muted(bs-popover,
                                    data-placement='left',
                                    data-template='/partials/popover-cancel-class.html',
                                    ng-show='canEdit')

                            span.btn-label: +icon('trash_hide')
                            | Cancel Class

                    .clearfix