include ../__mixins

header.navbar.navbar-inverse

    .navbar-header(ng-click='fn.doNavigate("home")')
        span.navbar-brand
            span.white
                +icon('af_logo')
            span.text#ftss FTSS 3 |&nbsp;
            span.text#roleText {{roleText}}

    ul.nav.navbar-nav.pull-right.hidden-xs

        li
            .support(bs-popover,
                        ng-click='fn.doMakeBitly()',
                        animation='am-flip-x',
                        hover='topbar-share',
                        content-template='/partials/bitly.html',
                        placement='bottom-right',
                        container='body',
                        no-arrow)
                +icon('share')

        li
            .support(tabindex='-1',
                        bs-popover,
                        container='body',
                        content-template='/partials/user-settings.html',
                        placement='bottom-right',
                        animation='am-flip-x',
                        hover='topbar-settings',
                        no-arrow)
                +icon('sliders')

        li
            .support(data-content-template='/partials/support.html',
                        placement='left',
                        bs-aside='aside',
                        container='body',
                        animation='am-slide-left',
                        hover='topbar-help',
                        no-arrow)
                +icon('question')