include ../../mixins

form.form-horizontal(name='modal', ng-class='{setUnavailable:data.NA,uglyGreenButton:isNew}')

    .modal-header.caps

        #instructorPhoto.circle(bio-photo='bioPhoto')

        h3(ng-show='createData') Create Class or Event
            .dates {{data.dateRange}}&nbsp;
        h3(ng-hide='createData') Update Class or Event
            .dates {{data.dateRange}}&nbsp;

        input.pull-right.form-control.hideSetUnavailable#ttms(
            type='text',
            ng-model='data.TTMS',
            placeholder='Class #',
            trigger='focus',
            bs-popover='language.scheduled_edit_ttms',
            placement='left')

    .modal-body

        .left-column

            .left-row#typeSelector(ng-if='isNew')
                select.form-control(
                    ng-change='data.selectType()',
                    ng-model='data.recordType',
                    ng-options='o for o in data.recordTypes')

            h4.left-row#typeSelector(ng-if='!isNew') {{data.recordType}}

            .left-row.alert.alert-warning
                .pageMessage.
                    Click a day on the calendar to choose the start date, drag or resize to change the dates. If you enter any value in
                    the Class # field (top-right), J4 will not build the class until you clear the field. Don't forget to specify
                    seat reservations on the far-right.

            .left-row(ng-show='data.mtt')
                 .input-group
                    .input-group-addon.w15:  +icon('location')
                    .input-group-selectize(trigger='focus', bs-popover='language.scheduled_edit_mtt', placement='right')
                        select(selectize='geodata', bind='data.MTT')

            .left-row(ng-if='data.ts')
                .input-group
                    .input-group-addon.w15:  +icon('books')
                        input.form-control(ng-model='data.TS',trigger='focus', bs-popover='language.scheduled_edit_ts', placement='right')

            #courseSelector.left-row(ng-show='data.rc||data.mtt')
                .input-group
                    .input-group-addon.w15:  +icon('books')
                    .input-group-selectize(trigger='focus', bs-popover='language.scheduled_edit_course', placement='right')
                        select(ng-disabled='!isNew',
                                selectize='coursesDropdown',
                                bind='data.CourseId',
                                remember='course')

            .left-row
                .input-group
                    .input-group-addon.w15: +icon('instructor')

                    .input-group-selectize(trigger='focus', bs-popover='language.scheduled_edit_instructor', placement='right')

                        select(selectize='instructorDropdown',
                                bind='data.InstructorId',
                                remember='instructor')

            .left-row(ng-if='!data.na')

                .input-group.pull-left.w50
                    .input-group-addon.w30: +icon('building-o')
                    input.form-control(type='text',
                                        ng-model='data.Location',
                                        trigger='focus',
                                        bs-popover='language.scheduled_edit_location',
                                        placement='top')

                .input-group.pull-right.w40
                    input.form-control(ng-model='data.Hours',
                                        type='number',
                                        min='0',
                                        trigger='focus',
                                        bs-popover='language.scheduled_edit_hours_deviation',
                                        placeholder='{{data.Course.Hours}}',
                                        placement='top')
                    .input-group-addon Hours

                .w20 &nbsp;
            .left-row(ng-if='data.na')
                .input-group
                    textarea.form-control(type='text',
                                            ng-model='data.Notes',
                                            trigger='focus', bs-popover='language.scheduled_edit_na_notes',
                                            placement='right')

            .left-row.hideSetUnavailable
                textarea.form-control(type='text',
                                        ng-model='data.ClassNotes',
                                        style='height:100px',
                                        trigger='focus',
                                        bs-popover='language.scheduled_edit_notes',
                                        placement='right',
                                        placeholder='Type any notes for this event here.  These are visible to everyone.')

            .left-row.hideSetUnavailable(ng-if='data.J4Notes')

                #j4notes.input-group.italics {{data.J4Notes}}


        .middle-column(ng-class='{addEvent:data.CourseId||data.na||data.TS}')

            #instructorCalendar(ui-calendar, ng-model='eventsInstructor')

            .text-info.italics.text-center.wideText(ng-if='data.Course.Days ') This class is {{data.Course.Days}} academic days

            #toggleWeekends.btn.btn-white.btn-sm.text-center(ng-model='$parent.showWeekends', bs-checkbox) Weekends


        .right-column.hideSetUnavailable: manage-reservations

        .clearfix


    +modalFooter('Submit', '!data.Start || !data.Days')

    #cancelClass.btn.btn-danger.btn-labeled.white(bs-popover,
                                    trigger='click',
                                    placement='right',
                                    ng-if='!createData',
                                    template-url='/partials/popover-cancel-class.html')

                span.btn-label: +icon('trash_hide')
                span Cancel Event