include ../../mixins

form.form-horizontal(name='modal', ng-class='{setUnavailable:data.NA,uglyGreenButton:isNew}')

    .modal-header.caps

        #instructorPhoto.circle(bio-photo='bioPhoto')

        h3(ng-show='createData') Create Class or Event
        h3(ng-hide='createData') Update Class or Event

        input.pull-right.form-control.hideSetUnavailable#ttms(
            type='text',
            ng-model='data.TTMS',
            placeholder='Class #',
            trigger='focus', bs-popover='language.scheduled_edit_ttms',
            placement='left')

    .modal-body

        .left-column

            .left-row#typeSelector(ng-if='isNew')
                select.form-control(
                    ng-change='data.selectType()',
                    ng-model='data.recordType',
                    ng-options='o for o in data.recordTypes')

            h4.left-row#typeSelector(ng-if='!isNew') {{data.recordType}}

            .left-row(ng-show='data.mtt')
                 .input-group
                    .input-group-addon.w15:  +icon('location')
                    .input-group-selectize(trigger='focus', bs-popover='language.scheduled_edit_mtt', placement='right')
                        select(selectize='geodata', bind='data.MTT')

            .left-row(ng-if='data.ts')
                .input-group
                    .input-group-addon.w15:  +icon('books')
                        input.form-control(ng-model='data.TS',trigger='focus', bs-popover='language.scheduled_edit_ts', placement='right')

            #courseSelector.left-row(ng-show='data.rc||data.mtt')
                .input-group
                    .input-group-addon.w15:  +icon('books')
                    .input-group-selectize(trigger='focus', bs-popover='language.scheduled_edit_course', placement='right')
                        select(ng-disabled='!isNew',
                                selectize='coursesDropdown',
                                bind='data.CourseId',
                                remember='course')

            .left-row
                .input-group
                    .input-group-addon.w15: +icon('instructor')

                    .input-group-selectize(trigger='focus', bs-popover='language.scheduled_edit_instructor', placement='right')

                        select(selectize='instructorDropdown',
                                bind='data.InstructorId',
                                remember='instructor')

            .left-row(ng-if='!data.na')
                .input-group
                    .input-group-addon.w15: +icon('building-o')

                    input.form-control(type='text',
                                        ng-model='data.Location',
                                        trigger='focus', bs-popover='language.scheduled_edit_location',
                                        placement='right')

            .left-row(ng-if='data.na')
                .input-group
                    textarea.form-control(type='text',
                                            ng-model='data.Notes',
                                            trigger='focus', bs-popover='language.scheduled_edit_na_notes',
                                            placement='right')

            .left-row(ng-if='!data.na')
                .input-group.pull-left.w40
                    .form-control(style='background: #fafafa;cursor: not-allowed;') {{data.Course.Days}}
                    .input-group-addon Academic Days

                .input-group.pull-right.w40
                    input.form-control(ng-model='data.Hours',
                                        type='number',
                                        min='0',
                                        trigger='focus', bs-popover='language.scheduled_edit_hours_deviation',
                                        placeholder='{{data.Course.Hours}}',
                                        placement='top')
                    .input-group-addon Hours

                .w20 &nbsp;

            .left-row.hideSetUnavailable
                .input-group
                    textarea.form-control(type='text',
                                            ng-model='data.ClassNotes',
                                            style='height:50px',
                                            trigger='focus', bs-popover='language.scheduled_edit_notes',
                                                placement='right')

            .left-row.hideSetUnavailable

                div(ng-if='data.J4Notes')
                    #j4notes.input-group.italics {{data.J4Notes}}


        .middle-column(ng-class='{addEvent:data.CourseId||data.na||data.TS}')

            #instructorCalendar(ui-calendar, ng-model='eventsInstructor')

            .text-info.info.italics.text-center
                +icon('info-circle', 'Click on a day to choose the start date, drag or resize the course to update.')

            #toggleWeekends.btn.btn-white.btn-sm.text-center(ng-model='$parent.showWeekends', bs-checkbox) Weekends


        .right-column.hideSetUnavailable

            h4 Allocated ({{data.Approved || 0}})
                .pull-right(ng-show='data.CourseId')
                    strong {{getOpenSeats()}}&nbsp;
                    span ({{data.Course.Min}} Min / {{data.Course.Max}} Max)

            br

            manage-reservations

            br

            div(edit-students, templateURL='embed')

        .clearfix


    +modalFooter('Submit', '!data.Start || !data.Days')

    #cancelClass.btn.btn-danger.btn-labeled.white(bs-popover,
                                    trigger='click',
                                    placement='right',
                                    ng-if='!createData',
                                    template-url='/partials/popover-cancel-class.html')

                span.btn-label: +icon('trash_hide')
                span Cancel Event