include ../../__mixins

form.form-horizontal(name='modal')

    +modalHeader('Build Class', "{{data.Course.Number}}")

        input.pull-right.form-control#ttms(type='text', ng-model='data.TTMS', placeholder='Class #')

    .modal-body

        .col-lg-6

            +formGroup('FTD', 'scheduled-edit-ftd')
                .input-group
                    .input-group-addon.w15
                        +icon('building-o')
                    .input-group-selectize
                        select(selectize='Units', bind='UnitId', remember='ftd')
            br

            +formGroup('Course', 'scheduled-edit-course')
                .input-group
                    .input-group-addon.w15
                        +icon('books')
                    .input-group-selectize
                        select(selectize='MasterCourseList',
                        bind='CourseId',
                        watch='UnitId',
                        watchList='Units.Courses',
                        remember='course')
            br

            +formGroup('Instructor', 'scheduled-edit-instructor')
                .input-group
                    .input-group-addon.w15
                        +icon('instructor')
                    .input-group-selectize
                        select(selectize='Instructors',
                        bind='InstructorId',
                        watch='UnitId',
                        watchList='Units.Instructors')

            br

            +formGroup('Reserved', 'scheduled-edit-reserved')
                .input-group.pull-left(style='width:30%!important')
                    input.form-control(ng-model='data.Host', type='number', min='0', required)
                    .input-group-addon Host

                .input-group.pull-left(style='width:30%!important;margin-left:5%')
                    input.form-control(ng-model='data.Other', type='number', min='0', required)
                    .input-group-addon Non-Host

                #modalScheduledOpenSeats.input-group {{getOpenSeats()}}

            .clearfix

            br

            +formGroup('Notes', 'scheduled-edit-notes')
                .input-group
                    textarea.form-control(type='text', ng-model='data.ClassNotes', style='height:150px')

        .col-lg-6(ng-class='{addEvent:!data.Start && data.CourseId}')

            #instructorCalendar(ui-calendar='uiConfigInstructor', calendar='scheduleInstructor', ng-model='eventsInstructor')

            .italics.text-info.text-center.
                Click on a day to choose the start date, adjust the start/stop by dragging or resizing
                the green class in the calendar above.

        .clearfix

    +modalFooter()