include ../../__mixins

form.form-horizontal(name='modal')

    +modalHeader('Build Class', "{{data.Course.Number}}")

        input.pull-right.form-control#ttms(type='text', ng-model='data.TTMS', placeholder='Class #')

    .modal-body

        .col-lg-7

            .col-lg-4
                photo.img-rounded(size='135px', shape='rectangle', data='data.InstructorId', watch)

            .col-lg-8

                .row
                    +formGroup('Course')
                        .input-group
                            .input-group-addon.w15
                                +icon('books')
                            .input-group-selectize(explain='scheduled-edit-course', right)
                                select(selectize='coursesDropdown',
                                        bind='CourseId',
                                        remember='course')

                .row
                    +formGroup('Instructor')
                        .input-group
                            .input-group-addon.w15
                                +icon('instructor')
                            .input-group-selectize(explain='scheduled-edit-instructor', right)
                                select(selectize='instructorDropdown',
                                        bind='InstructorId',
                                        remember='instructor')

                .row
                    +formGroup('Reserved')
                        .input-group.pull-left.w40
                            input.form-control(ng-model='data.Host', type='number', min='0', required, explain='scheduled-edit-reserved', top)
                            .input-group-addon Host

                        .input-group.pull-right.w40
                            input.form-control(ng-model='data.Other', type='number', min='0', required, explain='scheduled-edit-reserved', top)
                            .input-group-addon Non-Host


                #modalScheduledOpenSeats.input-group {{getOpenSeats()}}

            .clearfix

            hr(style='margin-top:5px')

            +formGroup('Notes')
                .input-group
                    textarea.form-control(type='text', ng-model='data.ClassNotes', style='height:150px', explain='scheduled-edit-notes', right)

            div(ng-if='data.J4Notes')
                +formGroup('J4 Notes')
                    #j4notes.input-group.italics {{data.J4Notes}}


        .col-lg-5(bs-tabs)

            div(ng-class='{addEvent:data.CourseId}', bs-pane, title='Schedule')

                br

                #instructorCalendar(ui-calendar='uiConfigInstructor', calendar='scheduleInstructor', ng-model='eventsInstructor')

                .text-info.info.italics.pull-right
                    +icon('info-circle')
                    | Click on a day to choose the start date, drag or resize the course to update.

            div(bs-pane, title='Students')

                br

                .well.well-sm(ng-repeat='request in data.requests')

                    .bold.border-bottom(class='text-{{request.statusClass}}')
                        | {{request.status}} ({{request.students.length}})
                        .pull-right {{request.unit.Text}}

                    dl.dl-horizontal
                        dt Student(s)
                        dd(ng-repeat='student in request.students') {{student}}

                        dt Notes
                        dd.italics {{request.notes}}

                        dt Response
                        dd.wideText {{request.response}}

                    .clearfix

        .clearfix

        .btn.btn-danger.btn-labeled.white(bs-popover,
                                        placement='right',
                                        ng-if='!createData && !data.Archived',
                                        template='/partials/popover-cancel-class.html')

                    span.btn-label: +icon('trash_hide')
                    | Cancel Class

        .clearfix

    +modalFooter('Submit', '!data.Start || !data.End')