include ../partials/mixins

#searchButtons.no-pad.pull-right(style='width:100px')

    span#toggleExpand.btn.btn-default(ng-if='ftss.hasAlternateView', ng-click='ftss.doToggleState("showAlternateView")', hover='button-alternate-view', left)
        +icon('flip-view')
        +icon('flip-view-alt')

    span#toggleArchive.btn.btn-default(ng-if='ftss.hasArchiveOption', ng-click='ftss.doToggleState("showArchived")', hover='button-archive', left)
        +icon('trash_hide')
        +icon('trash_show')

#searchContainer(ng-class='{tagBox:ftss.isTagBox, singleTag:ftss.singleTag}')

    #stats
        span.badge(ng-class='{overload:ftss.itemCount.overload}', hover='record-count', bottom)
            | {{ftss.itemCount.value}}
            span    ⃰

    #tagBox

        select(selectize='appInit',
                    multiple,
                    style='width:100%',
                    tabindex='0')

    #fakeSearchButton.btn.btn-info.white(hover='tagBox-button', top, no-arrow): +icon('arrow-right')

    #searchBox

        input.search.search-large(type='search',
                                    ng-disabled='!ftss.itemCount.total',
                                    ng-model='ftss.searchText',
                                    ng-change='ftss.doPermalink()',
                                    ng-model-options="{ debounce: 250 }",
                                    placeholder='{{ftss.searchPlaceholder}}',
                                    tabindex='-1',
                                    required)