include ../partials/mixins

-var userHover = '<dl class="dl-horizontal"><dt>Name</dt><dd>{{::user.name}}</dd></dt><dt>Email</dt><dd>{{::user.email}}</dd><dt>Account</dt><dd>{{::user.loginname}}</dd></dl><a class="btn btn-danger pull-right" href="#reset">Reset FTSS</a>';

header.navbar.navbar-inverse

    .navbar-header
        span.navbar-brand
            span.white#aflogo: +icon('af_logo')
            span.text#ftss FTSS |&nbsp
            span.text#ftd(ng-if='ftd', ng-cloak, ng-click='switchContext("ftd")') {{ftd.LongName}} -&nbsp;
            span.text#host(ng-if='host', ng-cloak, ng-click='switchContext("host")') {{host.LongName}} -&nbsp;
            span.text#roleText(ng-cloak) {{roleText || 'Getting roles...'}}


    ul.nav.navbar-nav.pull-right

        li: #username.support(bs-popover,
                                placement='bottom-right',
                                trigger='click',
                                title='AFNET User Information',
                                content='<div class="userInfo">#{userHover}</div>') {{::user.short}}

        li: .a.support(bs-dropdown,
                        animation='am-fade-and-slide-top',
                        template='/partials/external-links.html',
                        placement='bottom-left',
                        trigger='hover',
                        container="self",
                        delay='250',) Links

        li: a.support(bs-dropdown=,
                        url-shortner,
                        animation='am-fade-and-slide-top',
                        template='/partials/url-shortner.html',
                        placement='bottom-right',
                        container='body') Share

        li: a.support(href='guide/intro.html', target='_blank') User Guide

    //
        li: .support(data-content-template='/partials/support.html',
                        left,
                        data-placement='left',
                        bs-aside='aside',
                        container='body',
                        animation='am-slide-left',
                        hover='topbar-help',
                        no-arrow)
                +icon('question')