include ../partials/mixins

header.navbar.navbar-inverse

    .navbar-header
        span.navbar-brand
            span.white: +icon('af_logo')
            span.text#ftss FTSS |&nbsp
            span.text#ftd(ng-if='ftd', ng-cloak, ng-click='switchFTD()') {{ftd.LongName}} -&nbsp;
            span.text#roleText(ng-cloak) {{roleText || 'Getting roles...'}}

    ul.nav.navbar-nav.pull-right.hidden-xs

        li: #share.support(bs-popover,
                        left,
                        url-shortner,
                        animation='am-fade-and-slide-top',
                        hover='topbar-share',
                        content-template='/partials/url-shortner.html',
                        data-placement='bottom-right',
                        container='body',
                        no-arrow)
                +icon('share')

        li: .support(data-content-template='/partials/support.html',
                        left,
                        data-placement='left',
                        bs-aside='aside',
                        container='body',
                        animation='am-slide-left',
                        hover='topbar-help',
                        no-arrow)
                +icon('question')