mixin buildPage(base)
    doctype html

    html(lang='en', ng-app='FTSS')

        head

            //

                The MIT License (MIT)

                982 TRG Field Training Support System v3

                Copyright (C) 2014 Jeff McCoy < code@jeffm.us >

                jeffmccoy.mit-license.org

            meta(charset='utf-8')
            meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
            title(ng-bind-template='FTSS {{page()}}')

            |<!--[if IE]><meta http-equiv="refresh" content="0;URL='https://ftss-982trg-us-af-mil-7w8qlky4ciob5.s3.amazonaws.com/development/legacy.html'"><![endif]-->

            link(rel='stylesheet', href=base + 'css/app.css?v=2014.12.08')

        body.wait(ng-controller='mainController', id='{{fn.getPage()}}', class='{{showArchive}} {{wellCollapse}} {{roleClasses}}')

            img#bg1
            img#bg2
            #bgText

            div(style='position:absolute;background:#222;height:50px;width:100%;color:#fff;padding:15px') Setting up FTSS...

            include includes/content

            +spinner()

            script(src=base + 'js/vendor.js?v=2014.12.08')
            script(src=base + 'js/partials.js?v=2014.12.08')
            script(src=base + 'js/app.js?v=2014.12.08')

//- icon mixin to create our SVG icons
mixin icon(tag, viewbox)

    //- wrap in a labl to give a little more CSS flexibility
    label(class='lbl-' + tag, attributes)

        //- specify a viewbox to override for odd-formatted icons
        if viewbox
            svg.icon(class=tag + ' icon-' + tag, viewBox=viewbox)
                use(xlink:href='#icon-' + tag)

        else
            svg.icon(class=tag + ' icon-' + tag, viewBox='0 0 32 32')
                use(xlink:href='#icon-' + tag)

mixin spinner()
    #spinner
        label.lbl-refresh
            svg.icon.refresh.icon-refresh(viewBox="0 0 27 32")
                g#icon-refresh
                    path(d="M0 27.429v-8q0-0.464 0.339-0.804t0.804-0.339h8q0.464 0 0.804 0.339t0.339 0.804-0.339 0.804l-2.446 2.446q1.268 1.179 2.875 1.821t3.339 0.643q2.393 0 4.464-1.161t3.321-3.196q0.196-0.304 0.946-2.089 0.143-0.411 0.536-0.411h3.429q0.232 0 0.402 0.17t0.17 0.402q0 0.089-0.018 0.125-1.143 4.786-4.786 7.759t-8.536 2.973q-2.607 0-5.045-0.982t-4.348-2.804l-2.304 2.304q-0.339 0.339-0.804 0.339t-0.804-0.339-0.339-0.804zM0.321 13.143v-0.125q1.161-4.786 4.821-7.759t8.571-2.973q2.607 0 5.071 0.991t4.375 2.795l2.321-2.304q0.339-0.339 0.804-0.339t0.804 0.339 0.339 0.804v8q0 0.464-0.339 0.804t-0.804 0.339h-8q-0.464 0-0.804-0.339t-0.339-0.804 0.339-0.804l2.464-2.464q-2.643-2.446-6.232-2.446-2.393 0-4.464 1.161t-3.321 3.196q-0.196 0.304-0.946 2.089-0.143 0.411-0.536 0.411h-3.554q-0.232 0-0.402-0.17t-0.17-0.402z")

mixin link(page, tag, name, roles)
    li(class=page + ' ' + roles)
        .pointer
            .arrow
            .arrow_border
        span.link(ng-click='fn.doNavigate("' + page + '")')
            +icon(tag)
            span= name



mixin grouping()
    div(ng-repeat='(header, group) in groups')

        h3(ng-if='header', style='border-bottom: 1px solid; margin-top:20px; margin-bottom:15px')
            | {{header}}
            span.pull-right {{group.length}}
        block


mixin addButton(text, action)

    -action= action || 'edit(true)'

    .add-button.btn.btn-labeled.btn-success(ng-click=action)
        span.btn-label.white
            +icon('plus-circle')
        span.text  &nbsp;
            =text

mixin tableHeader(addNew, columns, instructions)
    if addNew
        +addButton('Add ' + addNew)

    .wrapped(class=addNew?'addNew':'noAdd')

        +userInstructions(instructions, true)

        +grouping()

            +tableBody(columns)
                block

mixin tableBody(columns)
    .rollupContainer

        table.table.table-striped.table-expanded.table-hover.rollup

            thead
                th.w5#flags
                each width, label in columns
                    th(style='width:' + width + '%')= label
                th.w10#action

            tbody
                tr.middle.am-fade-and-slide-top.traverse(ng-repeat='row in group track by row.Id',
                ng-class='{priority:row.Priority, archived:row.Archived, updated:row.updated}',
                class='{{row.styles}}',
                ng-dblclick='edit(false)',
                id='row-{{row.Id}}')
                    block

mixin googleMap(small, thumb)
    if small
        a.no-toggle(href='https://www.google.com/maps/@{{row.Location | nospace}},12z', target='_blank', right, ng-show='row.Location',
            hover="<img style='width:600px;height:500px' src='https://maps.google.com/maps/api/staticmap?center={{row.Location | nospace}}&zoom=12&size=600x500&sensor=false'/>")

            if thumb
                img.img-thumbnail(src=thumb)
            else
                img.img-thumbnail(ng-src='https://maps.google.com/maps/api/staticmap?center={{row.Location | nospace}}&zoom=10&size=100x50&sensor=false')

    else
        a(href='https://www.google.com/maps/@{{data.Location | nospace}},12z', target='_blank', ng-show='data.Location')
            img#googleModalMap(ng-src='https://maps.google.com/maps/api/staticmap?center={{data.Location | nospace}}&zoom=12&size=400x300&sensor=false')



mixin actions(view, edit, archive, label)
    div.pull-right
        if view
            span.btn.btn-sm.btn-info.btn-muted.no-archive(ng-click='stats()', hover='View ' + label + ' Stats', left)
                +icon('graph_pie')

        if edit
            span.btn.btn-sm.btn-warning.btn-muted.no-archive(ng-click='edit(false)', hover='Edit ' + label, left)
                +icon('edit')

        if archive
            span.btn.btn-sm.btn-danger.btn-muted.no-archive(
                bs-popover,
                placement='left',
                container='body',
                template='/partials/popover-archive-' + label +'.html')

                +icon('trash_hide')

            span.btn.btn-sm.btn-success.btn-muted.archive(ng-click='archive()', hover='Restore ' + label, left)
                +icon('rotate-left')


mixin userInstructions(text, ignore)
    if ignore
        .alert.alert-warning.alert-dismissable(ng-if= ignore ? 'showHelp' : 'true')
            .close(data-dismiss='alert') &times;
            .pageMessage(user-message=text)
            if ignore
                .hideHelp.btn.btn-link(ng-click='hideHelp()', data-dismiss='alert') Don't show this anymore
            .clearfix
    else
        .alert.alert-warning.alert-dismissable
            .close(data-dismiss='alert') &times;
            .pageMessage(user-message=text)

mixin modalHeader(create, update)
    .modal-header.caps
        if create
            h3(ng-show='createData')
                +icon('plus-circle')
                | Add&nbsp;
                =create

        if update
            h3(ng-hide='createData')
                +icon('edit')
                | Update&nbsp;
                =update

        block


mixin modalFooter(submitText, defaultShow)

    .modal-footer

        block

        .sending(ng-show='submitted')

            spinner(size='2em')
            | Please wait, sending data...

        .btn.btn-success.btn-labeled(ng-click='submit()',
                                    ng-hide='modal.$invalid || submitted || !modal.$dirty || ' + defaultShow)

            span.btn-label.white
                +icon('check-circle')

            if submitText
                span.text &nbsp;
                =submitText
            else
                span.text &nbsp;Submit

        #cancel.btn.btn-default(ng-click='close()') Cancel


mixin formGroup(label,explain, placement)

    .form-group(explain=explain, placement=placement||'left')
        label.col-lg-2.control-label= label
        .col-lg-10
            block

mixin formGroupTail(model, type, required, helper)

    input.form-control(ng-model=model, type=type, required=required)
    if helper
        .helper= helper


mixin formGroupText(label, model, type, required, helper, explain, placement)

    +formGroup(label, explain, placement)
        +formGroupTail(model, type, required, helper)


mixin formGroupIcon(label, model, type, required, helper, explain, ico, placement)

    +formGroup(label, explain, placement)
        .input-group
            .input-group-addon.w15
                +icon(ico)
            +formGroupTail(model, type, required, helper)


mixin confirmPopover(className, title, text, action)

    .popover

        .arrow

        h3.popover-title(class='text-'+className)= title

        .popover-content

            p= text

            block

            p

                .pull-right

                    .btn.btn-sm(class='btn-'+className, ng-click= action) Yes, continue

                    .btn.btn-default.btn-sm(ng-click='$hide()') No, cancel

            .clearfix