include ../mixins

.wrapped.noAdd

    +userInstructions('ttms', true)

    .alert.alert-success.text-success.lead(ng-if='worksDone')
        +icon('check-square-o', 'It looks like all classes are built now.')

    +grouping()

        table.table.table-striped.table-expanded.table-hover

            tbody
                tr.am-fade-and-slide-left(ng-repeat='row in group track by row.Id', class='{{::row.style}}')

                    td.w20.topFix
                        b {{::row.FTD.LCode}}:&nbsp;
                        span {{::row.FTD.LongName}}

                    td.w20.bold.topFix {{::row.dateRange}}

                    td.w50

                        p.form-control.wideText(contenteditable,
                                                ng-model='row.J4Notes',
                                                onEnter='inlineUpdate("J4Notes", false)',
                                                placeholder='Type to leave notes for the FTD, prefix with # to not send an email')

                        p(ng-if='row.ClassNotes')
                            b FTD Notes:&nbsp;
                            span.italics {{::row.ClassNotes}}

                    td.w15

                        p.form-control.pull-right.wideText(contenteditable,
                                                            ng-model='row.TTMS',
                                                            onEnter='inlineUpdate("TTMS", true)',
                                                            placeholder='Class #')