include ../mixins

- var columns = {Location: 20, Dates:20, Notes: 50}

+tableHeader(false, columns, 'ttms')

    td.topFix
        b {{::row.FTD.LCode}}:&nbsp;
        span {{::row.FTD.LongName}}

    td.bold.topFix {{::row.dateRange}}

    td

        p.form-control.wideText(contenteditable,
                                blur,
                                ng-model='row.J4Notes',
                                onEnter='inlineUpdate("J4Notes", false)',
                                placeholder='Type to leave notes for the FTD, prefix with # to not send an email')

        p(ng-if='row.ClassNotes')
            b FTD Notes:&nbsp;
            span.italics {{::row.ClassNotes}}

    td

        p.form-control.pull-right.wideText(contenteditable,
                                            ng-model='row.TTMS',
                                            onEnter='inlineUpdate("TTMS", true)',
                                            blur,
                                            placeholder='Class #')