include ../__mixins

- var columns = {Created:10, Course: 15, Start:10, End:10, Max:5, Notes: 40}

+tableHeader(false, columns, 'ttms')

    td.italics.topFix {{row.age}}

    td.bold.topFix {{row.Course.PDS}} - {{row.Course.Number}}

    td.bold.topFix {{row.start}}

    td.bold.topFix {{row.end}}

    td.bigLetter
        .courseMax {{row.Course.Max}}

    td

        p.form-control(contenteditable,
                                    ng-model='row.J4Notes',
                                    onEnter='addTTMS(row)',
                                    placeholder='Type to leave notes for the FTD')

        | {{row.ClassNotes}}

    td

        p.form-control.pull-right(contenteditable,
                                    ng-model='row.TTMS',
                                    onEnter='updateNotes(row)',
                                    placeholder='Class #')
