include ../__mixins

- var columns = {Created:10, Location: 20, Start:10, End:10, Notes: 40}

+tableHeader(false, columns, 'ttms')

    td.italics.topFix {{row.age}}

    td.topFix
        b {{row.FTD.LCode}}:&nbsp;
        span {{row.FTD.LongName}}

    td.bold.topFix {{row.startText}}

    td.bold.topFix {{row.endText}}

    td

        p.form-control.wideText(contenteditable,
                                blur,
                                ng-model='row.J4Notes',
                                onEnter='inlineUpdate("J4Notes", false)',
                                placeholder='Type to leave notes for the FTD')

        p(ng-if='row.ClassNotes')
            b FTD Notes:&nbsp;
            span.italics {{row.ClassNotes}}

    td

        p.form-control.pull-right.wideText(contenteditable,
                                            ng-model='row.TTMS',
                                            onEnter='inlineUpdate("TTMS", true)',
                                            blur,
                                            placeholder='Class #')
