include ../../mixins

#embed.wrapped.col-lg-7

    h3 {{users.length}} Users Found in SharePoint Site

    table.table.table-striped.table-expanded.table-hover
        tbody
            tr(ng-repeat='row in users')
                td
                    b {{::row.Name}}
                    br
                    span {{::row.WorkEMail}}


#rightScroll.wrapped.col-lg-5.addNew

    +grouping()

        table.table.table-striped.table-expanded.table-hover

            tbody

                tr(ng-repeat='row in group track by row.Id')

                    td

                        b.form-control(contenteditable,
                                        ng-model='row.Name',
                                        onEnter='inlineUpdate("Name")',
                                        placeholder='Member, i.e. SSgt John Doe')

                        .form-control(contenteditable,
                                        ng-model='row.Email',
                                        onEnter='inlineUpdate("Email")',
                                        placeholder='Email address')