include ../mixins

div(ng-class='{addNew:addNew}')

    +addButton('Add Instructor', 'addInstructor()')

    #add-aside.add-button(ng-file-drop='onFileSelect($files)')

        form(name='modal')

            +userInstructions('add-instructor')

            .col-lg-9.form-horizontal

                +formGroupText('Instructor',
                                'row.InstructorName',
                                'text',
                                true,
                                'You must enter a name',
                                'instructors-name')

                +formGroupText('Email',
                                'row.InstructorEmail',
                                'email',
                                false,
                                'Please enter a valid email address',
                                'instructors-email')

            .col-lg-3
                .drag-target(hover='instructors-photo', left)
                    .sending(id='spinner'): +spinner()
                    photo.img-rounded(size='100px', data='row', watch, force)

            .clearfix

            br

            +modalFooter()


#embed.col-lg-7(ng-show='data')

    br

    +userInstructions('units', true)

    h3 {{data.Courses_JSON.length}} Courses Taught

    .pds(explain='units-courses', right)
        select(selectize='MasterCourseList', bind='data.Courses_JSON', multiple, inline)

    .text-info.info.italics.pull-right
        +icon('info-circle')
        | You can paste a list of PDS course codes to update this list faster

    br
    br
    br

    .row.form-horizontal

        .col-lg-8
            .input-group(explain='units-email', right)
                .input-group-addon.w15: +icon('envelope')
                input.form-control(ng-model='data.Email',
                                    type='email',
                                    ng-model-onblur,
                                    ng-change='inlineUpdate("Email")')

        .col-lg-4
            .input-group(explain='units-phone', right)
                .input-group-addon.w15: +icon('phone')
                input.form-control(ng-model='data.Phone',
                                    type='text',
                                    ng-model-onblur,
                                    ng-change='inlineUpdate("Phone")')

    .clearfix


#rightScroll.wrapped.col-lg-5.addNew

        .text-info.info(ng-if='!groups')
            +userInstructions('manage-ftd-no-instructors')

        div(ng-if='groups')

            h3 {{groups.false.length}} Instructors

            table.table.table-striped.table-expanded.table-hover

                tbody

                    tr.am-slide-right.traverse(ng-repeat='row in groups.false track by row.Id',
                                        ng-class='{archived:row.Archived}',
                                        ng-file-drop='onFileSelect($files)',
                                        ng-dblclick='stats()',
                                        id='row-{{row.Id}}')

                        td.drag-target

                            .sending(id='spinner{{row.Id}}'): +spinner()
                            photo(size='75px', data='row', watch)

                        td

                            span.archiveOnly  ***ARCHIVED INSTRUCTOR***
                            br.archiveOnly

                            .rollupContainer
                                b.form-control(contenteditable,
                                                blur,
                                                ng-model='row.InstructorName',
                                                onEnter='inlineUpdate("InstructorName")',
                                                placeholder='Instructor, i.e. SSgt John Doe')

                                .form-control(contenteditable,
                                                blur,
                                                ng-model='row.InstructorEmail',
                                                onEnter='inlineUpdate("InstructorEmail")',
                                                placeholder='(Optional) Email address')

                            br

                            .chartMonths(ng-bind-html='row.chart | trust_html')

                            .clearfix

                            .pull-left.btn-success(ng-style='{width:row.annualEffectiveness+"%"}') &nbsp;
                            .pull-left.italics.text-success &nbsp;{{row.annualHours}} hours/yr

                        td.w5: +actions(true, false, true, 'instructor')