include ../mixins

div(ng-class='{addNew:addNew}')

    +addButton('Add Member', 'addInstructor()')

    #add-aside.add-button(ng-file-drop, ng-file-change='onFileSelect($files)')

        form(name='modal')

            +userInstructions('add_instructor')

            .col-lg-9.form-horizontal

                select(selectize='people')
                h4 {{data.Person.EMAIL}}

            .col-lg-3
                .drag-target(bs-popover='language.instructors_photo', placement='left')
                    .sending(id='spinner'): +spinner()
                    div(bio-photo='data.Photo')

            .clearfix

            br

            +modalFooter('data.Person')


form#embed.col-lg-6.wrapped(ng-show='det.Courses_JSON', name='ftdEdit')

    +userInstructions('units', true)

    h3 {{det.Courses_JSON.length}} Courses Taught

    .row.form-horizontal

        .col-lg-7
            .input-group(trigger='focus', bs-popover='language.units_email', placement='right')
                .input-group-addon.w15: +icon('envelope')
                input.form-control(ng-model='det.Email', type='email', required)

        .col-lg-5
            .input-group(trigger='focus', bs-popover='units_phone', placement='right')
                .input-group-addon.w15: +icon('phone')
                input.form-control(ng-model='det.Phone', type='text', required)

    .clearfix

    br

    .pds(trigger='focus', bs-popover='language.units_courses', placement='right')
        select.wide(selectize='MasterCourseList', bind='det.Courses_JSON', multiple, required)

    br

    #floatSubmit.pull-right.btn.btn-success.btn-labeled(ng-click='updateFTD()',
                                    ng-hide='modal.$invalid || det.submitted || !ftdEdit.$dirty')

        span.btn-label.white: +icon('check-circle')

        span.text &nbsp;Update FTD


#rightScroll.wrapped.col-lg-6.addNew

    h3 {{groups.false.length}} Personnel

    table.table.table-striped.table-expanded.table-hover

        tbody

            tr.am-slide-right(ng-repeat='row in groups.false track by row.Id',
                                ng-class='{archived:row.Archived}',
                                ng-file-drop, ng-file-change='onFileSelect($files)')

                td.drag-target

                    .sending(id='spinner{{row.Id}}'): +spinner()
                    .circle(bio-photo='row.Photo')

                td

                    span.archiveOnly  ***ARCHIVED INSTRUCTOR***
                    br.archiveOnly

                    b.form-control(contenteditable,
                                    ng-model='row.Name',
                                    onEnter='inlineUpdate("Name")',
                                    placeholder='Member, i.e. SSgt John Doe')

                    .form-control(contenteditable,
                                    ng-model='row.Email',
                                    onEnter='inlineUpdate("Email")',
                                    placeholder='AFNET Email or Account ID')

                td.w5: +actions(false, false, true, 'member')