include ../mixins

div(ng-class='{addNew:addNew}')

    +addButton('Add Member', 'addInstructor()')

    #add-aside.add-button(ng-file-drop, ng-file-change='onFileSelect($files)')

        form(name='modal')

            +userInstructions('add-instructor')

            .col-lg-9.form-horizontal

                +formGroupText('Instructor',
                                'row.InstructorName',
                                'text',
                                true,
                                'You must enter a name',
                                'instructors-name')

                +formGroupText('AFNET Email or Account Id',
                                'row.InstructorEmail',
                                'text',
                                true,
                                'You must enter an email or account #',
                                'instructors-email')

            .col-lg-3
                .drag-target(hover='instructors-photo', left)
                    .sending(id='spinner'): +spinner()
                    photo.img-rounded(size='100px', data='row', watch, force)

            .clearfix

            br

            +modalFooter()


#embed.col-lg-7(ng-show='Courses_JSON')

    br

    +userInstructions('units', true)

    h3 {{Courses_JSON.length}} Courses Taught

    .pds(explain='units-courses', right)
        select(selectize='MasterCourseList', bind='Courses_JSON', multiple, inline)

    br

    .row.form-horizontal

        .col-lg-8
            .input-group(explain='units-email', right)
                .input-group-addon.w15: +icon('envelope')
                input.form-control(ng-model='Email',
                                    type='email',
                                    ng-model-onblur,
                                    ng-change='inlineUpdate("Email")')

        .col-lg-4
            .input-group(explain='units-phone', right)
                .input-group-addon.w15: +icon('phone')
                input.form-control(ng-model='Phone',
                                    type='text',
                                    ng-model-onblur,
                                    ng-change='inlineUpdate("Phone")')

    .clearfix


#rightScroll.wrapped.col-lg-5.addNew

    h3 {{groups.false.length}} Personnel

    table.table.table-striped.table-expanded.table-hover

        tbody

            tr.am-slide-right(ng-repeat='row in groups.false track by row.Id',
                                ng-class='{archived:row.Archived}',
                                ng-file-drop, ng-file-change='onFileSelect($files)')

                td.drag-target

                    .sending(id='spinner{{row.Id}}'): +spinner()
                    photo(size='75px', data='row', watch)

                td

                    span.archiveOnly  ***ARCHIVED INSTRUCTOR***
                    br.archiveOnly

                    b.form-control(contenteditable,
                                    ng-model='row.InstructorName',
                                    onEnter='inlineUpdate("InstructorName")',
                                    placeholder='Member, i.e. SSgt John Doe')

                    .form-control(contenteditable,
                                    ng-model='row.InstructorEmail',
                                    onEnter='inlineUpdate("InstructorEmail")',
                                    placeholder='AFNET Email or Account ID')

                td.w5: +actions(false, false, true, 'member')