include ../mixins

div(ng-class='{addNew:addNew}')

    +addButton('Add Member', 'addInstructor()')

    #add-aside.add-button(ng-file-drop, ng-file-change='onFileSelect($files)')

        form(name='modal')

            +userInstructions('add-instructor')

            .col-lg-9.form-horizontal

                select(selectize='people')
                h4 {{row.email}}

            .col-lg-3
                .drag-target(hover='instructors-photo', left)
                    .sending(id='spinner'): +spinner()
                    +bioPhoto('row.bioPhoto', 100)

            .clearfix

            br

            +modalFooter()


form#embed.col-lg-7(ng-show='det.Courses_JSON', name='modal')

    br

    +userInstructions('units', true)

    h3 {{det.Courses_JSON.length}} Courses Taught

    .pds(explain='units-courses', right)
        select(selectize='MasterCourseList', bind='det.Courses_JSON', multiple, required)

    br

    .row.form-horizontal

        .col-lg-8
            .input-group(explain='units-email', right)
                .input-group-addon.w15: +icon('envelope')
                input.form-control(ng-model='det.Email', type='email', required)

        .col-lg-4
            .input-group(explain='units-phone', right)
                .input-group-addon.w15: +icon('phone')
                input.form-control(ng-model='det.Phone', type='text', required)

    .clearfix

    .pull-right.btn.btn-success.btn-labeled(ng-click='updateFTD()',
                                    ng-hide='modal.$invalid || submitted || !modal.$dirty')

        span.btn-label.white: +icon('check-circle')

        span.text &nbsp;Update FTD


#rightScroll.wrapped.col-lg-5.addNew

    h3 {{groups.false.length}} Personnel

    table.table.table-striped.table-expanded.table-hover

        tbody

            tr.am-slide-right(ng-repeat='row in groups.false track by row.Id',
                                ng-class='{archived:row.Archived}',
                                ng-file-drop, ng-file-change='onFileSelect($files)')

                td.drag-target.circle

                    .sending(id='spinner{{row.Id}}'): +spinner()
                    +bioPhoto('row.bioPhoto')

                td

                    span.archiveOnly  ***ARCHIVED INSTRUCTOR***
                    br.archiveOnly

                    b.form-control(contenteditable,
                                    ng-model='row.InstructorName',
                                    onEnter='inlineUpdate("InstructorName")',
                                    placeholder='Member, i.e. SSgt John Doe')

                    .form-control(contenteditable,
                                    ng-model='row.InstructorEmail',
                                    onEnter='inlineUpdate("InstructorEmail")',
                                    placeholder='AFNET Email or Account ID')

                td.w5: +actions(false, false, true, 'member')