include ../mixins

- var columns = {Course:100}

#leftContainer

    div(ng-if='canEdit'): +addButton('Add Course')

    .wrapped

        +userInstructions('catalog', true)

        +grouping()

            .rollupContainer

                table.table.table-striped.rollup

                    thead: th Course

                    tbody
                        tr.am-slide-top(ng-repeat='row in group track by row.Id',
                                            ng-dblclick='canEdit && edit(false)',
                                            placement='left',
                                            bs-popover='row.units'
                                            custom-class="leftBarOverlayHover")

                            td.uppercase

                                h4 {{::row.PDS}}&nbsp;-&nbsp;
                                    a(target='etca',
                                        href='https://www.my.af.mil/etcacourses/showcourse.asp?as_course_id={{::row.Number}}')
                                        | {{::row.Number}}

                                    .small.pull-right.peek {{::row.imds_g081}}

                                .peek.italics.wideText {{::row.Title}}

    iframe(name='etca') {{::FocusCourse}}