include ../mixins

- var columns = {Course:100}

#leftContainer

    div(ng-if='isAdmin'): +addButton('Add Course')

    .wrapped

        +userInstructions('catalog', true)

        +grouping()

            .rollupContainer

                table.table.table-striped.rollup

                    tbody
                        tr.am-slide-top(ng-repeat='row in group track by row.Id',
                                            ng-click='rowClick(row.Number)',
                                            placement='left',
                                            bs-popover='row.units'
                                            custom-class="leftBarOverlayHover")

                            td.uppercase

                                h4 {{::row.PDS}}&nbsp;-&nbsp;
                                    a(ng-click='$event.stopPropagation()', target='etca',
                                        href='https://www.my.af.mil/etcacourses/showcourse.asp?as_course_id={{::row.Number}}')
                                        | {{::row.Number}}

                                    .small.pull-right.peek {{::row.imds_g081}}

                                .peek.italics.wideText {{::row.Title}}
                                    .pull-right {{::row.Days}} Days, {{::row.Min}} Min / {{::row.Max}} Max

    iframe(name='etca') {{::FocusCourse}}